---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.md";
import Project from "../components/Project.astro";
import {
  COUNTRIES_APP,
  DEV_NETWORK,
  SITE_DESCRIPTION,
  SITE_TITLE,
} from "../consts";

const posts = await getCollection("blog");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="p-8 font-body bg-slate-900 text-slate-300 overflow-x-hidden">
    <div class="mx-auto max-w-2xl space-y-8">
      <Header title={SITE_TITLE} />
      <main class="space-y-8">
        <div
          class="prose prose-invert prose-slate prose-a:no-underline prose-a:underline-offset-4 hover:prose-a:underline"
        >
          <Intro />
        </div>

        <section id="projects">
          <h3 class="text-xl my-2 font-semibold text-slate-100">Projects</h3>
          <div class="space-y-10">
            <Project project={DEV_NETWORK} />
            <Project project={COUNTRIES_APP} />
          </div>
        </section>

        <section>
          <h3 class="text-xl my-2 font-semibold">
            Blog <small class="text-sm">Coming Soon</small>
          </h3>
          <!-- {
            posts.map((post) => (
              <div class="mb-2 flex justify-between">
                <span>{post.data.title}</span>
                <span>
                  <FormattedDate date={post.data.pubDate} />
                </span>
              </div>
            ))
          } -->
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
